<div id="<%= dom_id story %>" class="feed_story">

  <div class="card mb-3">
    <%= link_to "Back to stories", root_path, class: "btn btn-success" %>
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title"><%= story.title %></h5>
      <p class="card-text"><%= story.user.username %></p>
      <audio controls>
        <source src="<%= rails_blob_url(story.story_file) %>">
        Your browser does not support the audio element.
      </audio>
      <p><%= story.likes.count %> likes</p>
      <p><%= story.dislikes.count %> dislikes</p>
      <p class="card-text"><%= story.description %></p>

      <% if user_signed_in? %>
        <% like = current_user.likes.find_by(story: @story) %>
        <% if like.nil? %>
          <%= button_to "Like", likes_path, params: { like: {story_id: @story.id }}, method: :post %>
        <% else %>
          <%= button_to "Unlike", like_path(like), method: :delete %>
        <% end %>

        <% dislike = current_user.dislikes.find_by(story: @story) %>
        <% if dislike.nil? %>
          <%= button_to "Dislike", dislikes_path, params: { dislike: {story_id: @story.id }}, method: :post %>
        <% else %>
          <%= button_to "Undo dislike", dislike_path(dislike), method: :delete %>
        <% end %>


        <% if current_user %>
          <% if @story.isFavourite(current_user) %>
            <%= button_to "Remove from Favorites", @story.getFavourite(current_user), method: :delete %>
          <% else %>
            <%= button_to 'Add to Favorites', favourites_path(story_id: @story) %>
          <% end %>
        <% end %>

        <% if current_user.id == story.user_id %>
          <%= link_to "Edit this story", edit_story_path(@story) %>
        <% end %>

      <% else %>

        <%= button_to "Like", likes_path, params: { like: {story_id: @story.id }}, method: :post %>
        <%= button_to "Dislike", dislikes_path, params: { dislike: {story_id: @story.id }}, method: :post %>
        <%= button_to 'Add to Favorites', favourites_path(story_id: @story) %>

      <% end %>

      <p class="card-text"><small class="text-muted">Lastet opp <%= story.created_at %></small></p>
    </div>
  </div>

</div>


